.sign-up {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
}

.sign-up h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.sign-up input[type="text"],
.sign-up input[type="password"] {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.image-selection {
  margin-top: 40px;
  width: 100%;
}

.image-selection h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.signup-images img {
  margin-right: 10px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.signup-images img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.selected {
  border: 3px solid #007bff;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loading p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #007bff;
}

button:disabled {
  opacity: 0.5; /* or any other styles you want to apply */
  cursor: not-allowed;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 10px;
}

.modal-footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3e8e41;
}